.module {
  margin-bottom: 2em;
}

.module .ui.header,
.ui.menu .header.item {
  opacity: .5;
//  font-weight: normal;
  text-transform: uppercase;
}

.main {
  &.container {
    margin-top: 5.25em;
  }
}

.item.flex {
  display: flex !important;
  align-items: center;
  
  > * + * {
    padding-left: .5em;
  }
  
  * > img {
    vertical-align: middle;
  }
}

.ui.dropdown.right.floated {
  .menu {
    right: 0;
    left: auto;
  }
}

.ui.comments .comment {
  &:hover {
    background-color: darken(#fff,5%);
  }
}

.ui.card,
.ui.cards {
  
  .item .large.icon {
    line-height: .85;
  }
  
  .ui.icon.button {
    
    .large.icon {
      line-height: 1;
            
      + span { line-height: 1.3; }
    }
    
    &.counter .large.icon { margin: -.05em 0; }
    
    &.icon {
      .large.icon {
        line-height: 1;
      }
    }
  }
  
  .ui.dropdown {
    .menu {
      min-width: 8em;
    }
    
    &.downward .menu {
      top: 0;
      bottom: auto;
    }
    
    &.upward .menu {
      top: auto;
      bottom: 0;
    }
  }
  
  > .content.link {
    a.ui.segment {
      padding: 0;
      color: $textColor;
      display: block;
      
      img {
        max-width: 100%;
        border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
      }
      
      .header,
      .description,
      .meta {
        padding: .5rem 1rem 0;
      }
      
      .header {
        padding-top: 1rem;
        margin: 0;
        font-size: 1.25em;
      }
      
      .meta {
        padding-bottom: 1rem;
        text-transform: uppercase;
        opacity: .5;
      }
    }
  }
  
  > .item,
  > .card > .item {
    display: flex;
    padding: 1em;
    
    > * + * {
      padding-left: .5em;
    }
    
    > .middle.aligned {
      align-self: center;
    }
    
    > .image,
    > .meta,
    > .content,
    > .extra {
      -webkit-box-flex: 0;
      flex: 0 0 auto;
    }
    
    > .last {
      -webkit-box-flex: 1;
      flex: 1 1 auto;
    }
  }
  
  > .items,
  > .card > .items {
    border-top: 1px solid rgba(34,36,38,.1);
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
  }
  
  > a.items,
  > .card > a.items {
    color: initial;
    position: relative;
    
    &:after {
      font-family: "playerpro";
      content: "\e029";
      font-size: 1.5em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
    }
    
    &:hover {
      background: darken(#fff,2%);
    }
  }
}

$facebook-color:      #3b5998;
$twitter-color:       #0084b4;
$linkedin-color:      #1f88be;
$google-plus-color:   #dc4a38;


.ui.dropdown .menu {
  border: none !important;
//  box-shadow: none !important;
  
  .item {
    &:first-of-type { border-radius: .3em .3em 0 0; }
    &:last-of-type { border-radius: 0 0 .3em .3em; }
    
    &.facebook,
    &.twitter,
    &.linkedin,
    &.google.plus {
      
      color: #fff !important;
    }
    
    &.facebook {
      background: $facebook-color;
      
      &:hover { background: darken($facebook-color,2%) !important; }
    }
    
    &.twitter {
      background: $twitter-color;
      
      &:hover { background: darken($twitter-color,2%) !important; }
    }
    
    &.linkedin {
      background: $linkedin-color;
      
      &:hover { background: darken($linkedin-color,2%) !important; }
    }
    
    &.google.plus {
      background: $google-plus-color;
      
      &:hover { background: darken($google-plus-color,2%) !important; }
    }
    
    &.google.plus {
      background: #dc4a38;
    }
  }
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  border-radius: 50%;
}

.ui.micro.image,
.ui.micro.images .image,
.ui.micro.images img,
.ui.micro.images svg {
  width: 16px;
  min-width: 16px;
  font-size: .71428571rem;
  margin-top: -.25rem;
  margin-bottom: -.1rem;
}

// mini modal style

.ui.mini.modal {
  max-width: 500px;
  margin: 0 0 0 -250px;
}

.ui.attached.buttons {
  .ui.button {
    padding-left: .125em;
    padding-right: .125em;
    
    & > * { width: 100%; }
  }
}

.card {
  box-shadow: 0 1px 5px rgba(#000,.1), 0 0 0 1px #fff !important;
}