@charset "UTF-8";

@font-face {
  font-family: "playerpro";
  src:url("../fonts/playerpro/playerpro.eot");
  src:url("../fonts/playerpro/playerpro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/playerpro/playerpro.woff") format("woff"),
    url("../fonts/playerpro/playerpro.ttf") format("truetype"),
    url("../fonts/playerpro/playerpro.svg#playerpro") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="pp-"]:before,
[class*=" pp-"]:before {
  font-family: "playerpro" !important;
}

.pp-yes:before {
  content: "\e000";
}
.pp-maybe:before {
  content: "\e001";
}
.pp-no:before {
  content: "\e002";
}
.pp-times:before {
  content: "\e003";
}
.pp-timeline:before {
  content: "\e004";
}
.pp-field:before {
  content: "\e005";
}
.pp-calendar:before {
  content: "\e006";
}
.pp-news:before {
  content: "\e007";
}
.pp-thumbup:before {
  content: "\e008";
}
.pp-home:before {
  content: "\e009";
}
.pp-comment:before {
  content: "\e00b";
}
.pp-video:before {
  content: "\e00c";
}
.pp-camera:before {
  content: "\e00d";
}
.pp-rsvp:before {
  content: "\e00e";
}
.pp-share:before {
  content: "\e00f";
}
.pp-arrow-down:before {
  content: "\e010";
}
.pp-arrow-left:before {
  content: "\e011";
}
.pp-arrow-right:before {
  content: "\e012";
}
.pp-arrow-up:before {
  content: "\e013";
}
.pp-globe:before {
  content: "\e014";
}
.pp-mail:before {
  content: "\e015";
}
.pp-shirt:before {
  content: "\e016";
}
.pp-tag:before {
  content: "\e017";
}
.pp-gear:before {
  content: "\e018";
}
.pp-info:before {
  content: "\e019";
}
.pp-user:before {
  content: "\e00a";
}
.pp-clock:before {
  content: "\e01a";
}
.pp-dashboard:before {
  content: "\e01b";
}
.pp-photo:before {
  content: "\e01c";
}
.pp-printer:before {
  content: "\e01d";
}
.pp-plus:before {
  content: "\e01e";
}
.pp-trophy:before {
  content: "\e01f";
}
.pp-file:before {
  content: "\e020";
}
.pp-graph:before {
  content: "\e021";
}
.pp-search:before {
  content: "\e022";
}
.pp-sign-in:before {
  content: "\e023";
}
.pp-sign-out:before {
  content: "\e024";
}
.pp-usd:before {
  content: "\e025";
}
.pp-follow:before {
  content: "\e026";
}
.pp-rotate:before {
  content: "\e027";
}
.pp-chevron-left:before {
  content: "\e028";
}
.pp-chevron-right:before {
  content: "\e029";
}
.pp-pencil:before {
  content: "\e02a";
}
.pp-heart:before {
  content: "\e02b";
}
.pp-bell:before {
  content: "\e02c";
}
.pp-phone:before {
  content: "\e02d";
}
.pp-post:before {
  content: "\e02e";
}
.pp-lock:before {
  content: "\e02f";
}
