.ui.billboard {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 35vw;
  
  &:after {
    position: absolute;
    bottom: 0;
    z-index: -1;
    content: " ";
    display: block;
    width: 100%;
    height: 10em;
    background: linear-gradient(to bottom, rgba(#000,0) 0%,rgba(#000,.8) 100%);
  }
  
  .ui.title.items {
    position: absolute;
    bottom: 0;
    left: 1.5em;
    
    .ui.image img {
      max-width: 8em !important;
    }
    
    .inverted.header {
      color: #fff;
      font-weight: 400;
    }
    
    a.sub.header {
      display: block;
      
      &:hover { color: #fff; }
    }
  }
  
  &.rounded {
    border-radius: 5px;
  }
  
  .centered.background.image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    
    &.horizontal {
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
}