header#header.ui.menu {
  #toggleLeft {
    &:hover { cursor: pointer; }
  }
    
    img.logo {
      border-radius: 3px;
    }
}



$screen-mobile:         768px;
$screen-tablet:         992px;
$screen-computer:       1200px;
$screen-large:          1920px;

//    Below (Device)

.ui.menu:not(.vertical) {
  .item {
    display: flex;
    
    @media only screen and (min-width: $screen-mobile) {
      &.below.mobile { display: none !important; }
    }
    @media only screen and (min-width: $screen-tablet) {
      &.below.tablet { display: none !important; }
    }
    @media only screen and (min-width: $screen-computer) {
      &.below.computer { display: none !important; }
    }
    @media only screen and (min-width: $screen-large) {
      &.below.large.screen { display: none !important; }
    }
  }
}

.ui.grid {
  .column {
    display: block;
    
    @media only screen and (max-width: $screen-mobile - 1) {
      &.above.mobile { display: none !important; }
    }
    @media only screen and (max-width: $screen-tablet - 1) {
      &.above.tablet { display: none !important; }
    }
    @media only screen and (max-width: $screen-computer - 1) {
      &.above.computer { display: none !important; }
    }
    @media only screen and (max-width: $screen-large - 1) {
      &.above.large.screen { display: none !important; }
    }
  }
}